.App {
  text-align: center;
  color: #474747;
  font-family: 'Raleway', sans-serif;
  background-color: #fff;

  width: 100%;
}

h1, h2, h3, p{
  margin: 0;
}

a{
  color: white;
}
a:hover{
  color: #e8175d;
}

h1{
  margin-top:2rem;
  margin-bottom:2rem;
  font-size: 5rem;
  font-family: 'Work Sans', sans-serif;
  line-height: 4rem;
}

h2{
  font-size: 3rem;
}

mark{
  background-color: #e8175d;
  color: white;
  padding: 0rem 0.3rem;
}

.black{
  background-color: #474747;
  color: white;
}


.payoff{
  padding: 2rem 1rem;
  font-size: 1.25rem;
}
.showcase{
  padding: 0 1rem;
}
.showcase img{
  width: 100%;
}



.card{
  min-height: 250px;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.card .inner{
  border: 1px dashed #756c6c;
  width: 100%;
  height: 100%;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img{
  width: 100%;
}

.alt{
  font-family: 'Allison';
  font-weight: normal;
  color: #e8175d;
  display: block;
}


input, button{
  font-family: 'Raleway', sans-serif;
}


.form{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form input{
  font-size: 1.5rem;
  padding: .5rem;
  width: 100%;
  border: 2px solid #e8175d;
  text-align: center;
  color: #474747;
}
.form button{
  margin-top:1rem;
}


.cta{
  padding: 1rem;
}


button{
  font-size: 1.5rem;
  padding: .5rem 1.5rem;
  border: 2px solid #e8175d;
  border-radius: 20px;
  color: #e8175d;
  background: white;
  text-transform: uppercase;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
button:hover{
  background-color: #e8175d;
  color: white;
  transform: scale(1.1);
}

button:disabled{
  opacity: 0.5;
  pointer-events: none;
}



footer{
  margin-top: 1rem;
  padding: 2rem 1rem;
  background: #363636;
  color: #a8a7a7;
}
footer p{
  margin: .5rem 0;
}
footer a{
  color: white;
}
footer .small{
  font-size: 0.65rem;
}


.wrapper{
  width: 100%;
  margin: auto;
}


@media screen and (min-width: 560px) {
  html{
    font-size: 110%;
  }
  .wrapper{
    width: 90%;
  }
}

@media screen and (min-width: 720px) {
  html{
    font-size: 120%;
  }
  .wrapper{
    width: 80%;
  }
}

@media screen and (min-width: 960px) {
  html{
    font-size: 130%;
  }
  .wrapper{
    width: 70%;
  }
}

@media screen and (min-width: 1120px) {
  html{
    font-size: 140%;
  }
  .wrapper{
    width: 60%;
  }
}

@media screen and (min-width: 1360px) {
  html{
    font-size: 150%;
  }
  .wrapper{
    width: 50%;
  }
}